:root {
    padding: 0;
    margin: 0;

    background-color: #262626;

    

    position: absolute;
}

main {

    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100dvh;
    width: 100dvw;
}

#sidebar {
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;

    background-color: #3d3d3d7f;

    gap: 12pt;
    padding: 12pt;

    width: 25dvw;

    backdrop-filter: blur(1rem);
}

button {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

    padding: 6pt;
    background-color: #4f4f4f7f;
    color: #e7e7e7;

    border: #4f4f4f;
    
    border-radius: 6pt;

    text-align: left;
    font-size: x-large;
}

button:hover {
    background-color: #5d5d5d7f;
}


button:active {
    background-color: #6d6d6d7f;
}